<%- include('header') -%>
  <link rel="stylesheet" type="text/css" href="style.css">
    <h1>The BRANS</h1>
    <p>Welcome to Swatching~(￣▽￣)☆</p>
    <img src="http://www.foodol.org/uploads/allimg/171206/133145C22-0.png" width="100%"/>
<%- include('footer') -%>
