<%- include('header') -%>
    <div class="jumbotron">
        <h1>Thank you for sharing!</h1>
        <p>Everybody else in Swatching will see your comments!</p>
        <p>Your shopping experience will be very helpful to other makeup lovers!</p>
    </div>

    Nice Job!
    You just finished a comment!
    <br>
    Now you can go to Swatch Plaza to see your own post!
    <a href="/swatchPlaza"> Swatch Plaza
    </a>
    <img src="http://www.foodol.org/uploads/allimg/171206/133145C22-0.png" width="100%"/>


<%- include('footer') -%>
